

.jay{
    margin-top: 15px;

}
.joey{
   
    float: left;
}


.kod div{
    padding: 7.7px;
}



    .kod{
        display: flex;
        margin-top: 20px;
        float: right;
    }

    
  




